.active {
  color: #fff;
}
.navbar-toggler {
  border: solid 1px silver;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.91);
  font-size: 25px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) {
  .logo-size {
    font-size: 25px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .logo-size {
    font-size: 25px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .logo-size {
    font-size: 25px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .logo-size {
    font-size: 25px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .logo-size {
    font-size: 30px;
  }
}

.logo{
  color: #3c763d;
  padding-right: 10px;
}

a.logo:link {
  text-decoration: none;
}

a.logo:visited {
  text-decoration: none;
}

a.logo:hover {
  text-decoration: underline;
}

a.logo:active {
  text-decoration: underline;
}

.logo-font {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header{
  padding-bottom: 7%;
}

.navbar-brand {
  padding: 5px 5px;
}
