<nav class="navbar navbar-toggleable navbar-light bg-faded">
  <div class="clearfix">
    <button (click)="isCollapsed = !isCollapsed"
      class="navbar-toggler navbar-toggler-right pull-xs-right hidden-sm-up" type="button"
      aria-controls="bd-main-nav"
      aria-label="Toggle navigation">
        {{menuIcon}}
    </button>
    <!--<a (click)="isCollapsed = true" class="navbar-brand hidden-sm-up" [routerLink]="[brandMenu.path]">-->
      <!--{{brandMenu.title}}-->
    <!--</a>-->

    <div class="navbar-brand">
    <a class="glyphicon glyphicon-leaf logo logo-size {{colorClass}}" [routerLink]="[brandMenu.path]"></a>
    <a class="logo logo-size logo-font {{colorClass}}" [routerLink]="[brandMenu.path]">LazyQuote</a>
    </div>
  </div>
  <div class="navbar-toggleable-xs navbar-collapse" id="bd-main-nav"
  [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
    <ul class="nav navbar-nav">
      <!--<li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active">-->
        <!--<a class="navbar-brand hidden-xs-down" [routerLink]="[brandMenu.path]">{{brandMenu.title}}</a>-->
      <!--</li>-->
      <li (click)="isCollapsed = true" *ngFor="let menuItem of menuItems"
        class="nav-item" routerLinkActive="active"
        [ngClass]="getMenuItemClasses(menuItem)">
        <a class="nav-item nav-link" [routerLink]="[menuItem.path]" routerLinkActive="active">{{menuItem.title}}</a>
      </li>

    </ul>
    <ul class="nav-item navbar-brand navbar-toggler-right"><i class="fa fa-user-circle logo-size" ></i></ul>

  </div>

</nav>
