<!-- The modal -->
<div class="container">
  <div class="modal fade login-padding" id="loginForm" tabindex="20" role="dialog" aria-labelledby="modalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center {{colorClass}}" id="exampleModalLongTitle">LazyQuote Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted"><a href="">Forgot your password?</a></small>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-block btn-primary">Login</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
