<div class="container-fluid parent-box">
  <div class="row quote-box">
    <div class="col jumbotron">
      <div class="{{textClass}}">
        {{currentQuote.description}}
      </div>
      <h2 class="featurette-heading">
        <span class="text-muted">{{currentQuote.author}} </span>

      </h2>
      <!--<p-editor *ngIf="false" [(ngModel)]="title" [style]="{'height':'320px'}"></p-editor>-->


      <!--<form *ngIf="false">-->
        <!--<label class="radio-inline">-->
          <!--<input type="radio" name="optradio" (click)="selectColor('black_text')">black-->
        <!--</label>-->
        <!--<label class="radio-inline">-->
          <!--<input type="radio" name="optradio" (click)="selectColor('blue_text')">blue-->
        <!--</label>-->
        <!--<label class="radio-inline">-->
          <!--<input type="radio" name="optradio" (click)="selectColor('gray_text')">gray-->
        <!--</label>-->
      <!--</form>-->

      <!--<p *ngIf="false">-->
        <!--{{title}}-->
      <!--</p>-->
    </div>
  </div>
</div>
