<div class="container-fluid parent-box">
    <div class="row quote-box {{backgroundColorClass}}" *ngIf="currentQuote.description != 'loading'">
    <div class="col jumbotron">
      <h1 class="{{textClass}}">
        {{currentQuote.description}}
      </h1>
      <h2 class="featurette-heading" (click)="setNewQuote()">
        <span class="text-muted">{{currentQuote.author}}</span>
        <span class="text-muted quote-category"> #{{currentQuote.category}}</span>
      </h2>
    </div>
  </div>
</div>

<div>
  <div id="wrapper">
    <div class="quote-category">Related Quotes</div>
    <p> </p>
    <div id="columns">
      <div class="pin" *ngFor="let quote of quotes">
        <div class="{{textClass}}">
          {{quote.description}}
        </div>
        <div class="text-muted quote-category">
          {{quote.author}}#{{quote.category}}
        </div>
      </div>
    </div>
  </div>
</div>




