/* pins */
#wrapper {
  width: 90%;
  margin: 50px auto;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

#columns:hover .pin:not(:hover) {
  opacity: 0.4;
}

/* end-pins*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
  .parent-box {
    padding-top: 2%;
  }
  #columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  .parent-box {
    padding-top: 3%;
  }
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
  h1 {
    font-size: 28px;
  }
  .parent-box {
    padding-top: 4%;
  }
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  .parent-box {
    padding-top: 4%;
  }
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }

  .parent-box {
    padding-top: 4%;
  }
  #columns {
    -webkit-column-count: 41;
    -moz-column-count: 4;
    column-count: 4;
  }
}


.blue_text {
  color: blue;
}

.black_text {
  color: black;
}

.gray_text {
  color: gray;
}

.quote-box {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #FFA500;
}

.quote-category{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: oblique;
}

.nice-grapefruit{
  background-color: #DC381F;
}
.nice-deep-sky-blue{
  background-color: #3BB9FF;
}

.nice-yellow{
  background-color: #FFCC33;
}

.nice-turquoise{
  background-color: #40e0d0;
}

.nice-lime-green{
  background-color: forestgreen;
}

.nice-red{
  background-color: orangered;
}
