<div class="container-fluid parent-box">
    <div class="row quote-box {{backgroundColorClass}}" *ngIf="currentQuote.description != 'loading'">
      <div class="col quote-box-inner">
        <h1 class="{{textClass}}">
          {{currentQuote.description}}
        </h1>
        <h2 class="featurette-heading" (click)="setNewQuote()">
          <span class="text-muted">{{currentQuote.author}}</span>
          <span class="text-muted quote-category"> #{{currentQuote.category}}</span>
        </h2>
      </div>
  </div>
</div>

<div class="container">
  <div id="wrapper">

    <div class="container container-table">
      <div class="row vertical-center-row">
        <h4 class="text-center col-md-4 col-md-offset-4 text-muted">other #{{currentQuote.category}} quotes</h4>
      </div>
    </div>

    <div id="cards" *ngFor="let fake of fakeParse">
      <div *ngFor="let quote of quotes" (click)='changeQuote(quote.quote_id)'>
        <figure *ngIf="(quote.status!=status && fake=='one') || (quote.status==status && fake=='two')">
          <div *ngIf="quote.status==status" class="dot {{backgroundColorClass}}"></div>
          <div class="{{textClass}}">
            {{quote.description}}
          </div>
          <div class="text-muted quote-category">
            <div>{{quote.author}}</div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-primary" (click)='getQuotesByCategory(currentQuote.category)'>more</button>
  </div>
</div>


